/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --heading-text-color: #353430;
  --accent-color: #FF8DCB;
  --accent-color-40: #32312D66;
  --header-title-color: #FFC2E6;
  --main-font: 'IBM Plex Mono';
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header::before {
  border-block-end: 1px solid var(--text-color);
  border-inline-start: 1px solid var(--text-color);
}

.theme_light .header::after{
  border-inline-end: 1px solid var(--text-color);
  border-block-start: 1px solid var(--text-color);
}


.theme_light .header__decoration,
.theme_light .header__decoration::before,
.theme_light .header__decoration::after {
  display: none;
}

.theme_light .header__theme-menu-button {
  color: var(--text-color);
}


.theme_light .header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-40);
}

.theme_light .header__theme-menu-button:focus {
  outline: none;
}

.theme_light .header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--text-color);
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--text-color);
  pointer-events: none;
}

.theme_light .content__heading {
  color: var(--text-color);
}


.theme_light .footer::before {
  border-block-end: 1px solid var(--text-color);
  border-inline-start: 1px solid var(--text-color);
}

.theme_light .footer::after {
    border-block-start: 1px solid var(--text-color);
  border-inline-end: 1px solid var(--text-color);
}

@media (prefers-color-scheme: light) {

  :root {
    /* Дублируем переменные светлой темы */    
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --heading-text-color: #353430;
    --accent-color: #FF8DCB;
    --accent-color-40: #32312D66;
    --header-title-color: #FFC2E6;
    --main-font: 'IBM Plex Mono';
  }

  .page {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    padding: 10px;
    font-family: var(--main-font), Arial, sans-serif;
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--bg-color);
    background-image: url(../images/cover-image-light.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  
  @media  (width >= 768px) {
  
    .page {
      padding: 20px;
    }
  
  }
  
  .header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    block-size: 25px;
    inline-size: 25px;
    border-block-end: 1px solid var(--text-color);
    border-inline-start: 1px solid var(--text-color);
  }
  
  .header::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    block-size: 25px;
    inline-size: 25px;
    border-inline-end: 1px solid var(--text-color);
    border-block-start: 1px solid var(--text-color);
  }
  
  
  .header__decoration,
  .header__decoration::before,
  .header__decoration::after {
    display: none;
  }
  
  .header__theme-menu-button {
    color: var(--text-color);
  }
  
  
  .header__theme-menu-button:hover {
    border: 1px solid var(--accent-color-40);
  }
  
  .header__theme-menu-button:focus {
    outline: none;
  }
  
  .header__theme-menu-button:focus-visible {
    outline: none;
    border-block-end: 1px solid var(--text-color);
  }
  
  .header__theme-menu-button_active {
    border: 1px solid var(--text-color);
    pointer-events: none;
  }
  
  .content__heading {
    color: var(--text-color);
  }
  
  
  .footer::before {
    border-block-end: 1px solid var(--text-color);
    border-inline-start: 1px solid var(--text-color);
  }
  
  .footer::after {
      border-block-start: 1px solid var(--text-color);
    border-inline-end: 1px solid var(--text-color);
  }

  
}