/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --header-decoration-color: #ff0070;
  --header-title-color: #db00ff;
  --content-heading-color: #ff0070;
  --heading-text-color: #000028;
  --accent-color: #ff0070;
  --accent-color-40: #ff007066;
  --main-font: 'IBM Plex Mono';
  --xs-padding: 10px;
  --s-padding: 20px;
  --m-padding: 50px;
}

@media (width >= 768px) {
  :root {
    --xs-padding: 20px;
    --m-padding: 80px;
  }
}